* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background: linear-gradient(to right, #F7FAFF, #EEF4FF);
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.subtext {
    font-family: 'Roboto Slab', serif;
    color: #204E73;
    font-weight: 700 !important;
    font-size: 20px;
    margin: 20px 0;
}

/* HEADER */

.header {
    padding: 20px 0;
}

.header-inner {
    background: white;
    border-radius: 40px;
    padding: 12px 25px;
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 100%;
    max-width: 40px;
    height: auto;

    transform: scale(1.2);
    transform-origin: left center;
}

.logo span {
    font-size: 30px;
    font-weight: 800;
    color: #24446B;
    margin-left: 10px;
}

.logo img {
    width: 28px;
}

.right-menu {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 25px;
}

.nav a {
    color: #355273;
    font-weight: 800;
    font-size: 18px;
    margin: 0 10px;
    text-decoration: none;
    transition: 0.2s;
}

.nav a {
    transition: all 0.2s ease;
    position: relative;
}

.nav a:hover {
    color: #2F80ED;
    transform: translateY(-1px);
}

/* мягкая подсветка при наведении */
.nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0%;
    height: 2px;
    background: #2F80ED;
    transition: 0.25s;
}

.nav a:hover::after {
    width: 100%;
}

.nav .active {
    background: #dbeafe;
    padding: 5px 10px;
    border-radius: 10px;
}

button, a {
    cursor: pointer;
}

.nav a {
    cursor: pointer;
}

.btn {
    cursor: pointer;
}

.btn {
    background: #2F80ED;
    color: white;
    border: none;
    padding: 11px 22px;
    border-radius: 12px;
    font-weight: 800;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.2s ease;
    font-family: Inter;
}

.btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 15px rgba(47, 128, 237, 0.3);
}

/* HERO */

.hero {
    padding-top: 40px;
}

.hero-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* LEFT */

.left {
    width: 45%;
}

.left h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 68px;
    color: #204E73;
    font-weight: 700;
    line-height: 1.1;
}

.left p {
    font-family: 'Roboto Slab', serif;
    color: #204E73;
    margin: 20px 0;
}

.btn.big {
    margin: 30px 0 50px 0;
    padding: 14px 22px;
    font-size: 16px;
    transform: scale(1.1);
    border-radius: 16px;
}

.list {
    list-style: none;
}

.list li {
    margin-bottom: 20px;
    padding-left: 40px;
    position: relative;
    font-weight: 800;
    color: #284A72;
    font-size: 18px;
}

.list li::before {
    content: "✔";
    position: absolute;
    left: 0;
    top: 2px;
    width: 22px;
    height: 22px;
    background: #22c55e;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* RIGHT */

.right {
    width: 520px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
}

.scheme {
    width: 100%;
    height: auto;
    transform: scale(1.7);
    transform-origin: center;
}

body, 
h1, h2, h3, h4, h5, h6, 
p, span, a, li, button {
    font-weight: 900;
}
