* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Slab', serif;
    background: linear-gradient(135deg, #cfdde2 0%, #9ec9c2 100%);
    height: 100vh;
}

/* CONTAINER */
.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

/* HEADER */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
}

.logo img {
    height: 110px;
    object-fit: contain;
}

/* NAV */

.nav-link {
    margin-left: 40px;
    text-decoration: none;
    font-size: 20px;
    color: #7fa1c3;
    font-weight: 700;
    transition: 0.3s;
    padding: 6px 12px;
    border-radius: 6px;
}

/* hover */
.nav-link:hover {
    background-color: rgba(47, 79, 111, 0.15);
    color: #2f4f6f;
}

/* active */
.nav-link.active {
    background-color: rgba(47, 79, 111, 0.25);
    color: #2f4f6f;
}

/* HERO */

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 100px;
}

.hero-text {
    max-width: 520px;
}

.hero-text h1 {
    font-size: 72px;
    line-height: 1.1;
    color: #2f4f6f;
    margin-bottom: 25px;
}

.hero-text p {
    font-size: 18px;
    line-height: 1.6;
    color: #2f4f6f;
    margin-bottom: 40px;
    max-width: 420px;
}

/* BUTTON */

.start-btn {
    background: #8fc5a4;
    border: none;
    padding: 18px 55px;
    font-size: 22px;
    font-weight: 700;
    color: #2f4f6f;
    cursor: pointer;
    box-shadow: 8px 8px 0 #7bb394;
    transition: 0.2s;
}

/* hover */
.start-btn:hover {
    filter: brightness(0.9);
}

/* click effect */
.start-btn:active {
    transform: translate(4px, 4px);
    box-shadow: 4px 4px 0 #7bb394;
}

/* IMAGE */

.hero-image img {
    width: 440px;
}
